Binaries
Build/
DerivedDataCache
Intermediate
Saved
.claudeignore
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.slnx
*.suo
*.xcodeproj
*.xcworkspace
CLAUDE.md
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/Fab/HexagonTiles/Map/
*.md
