Binaries
Build/
DerivedDataCache
Intermediate
Saved
.claudeignore
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
CLAUDE.md
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/Fab/HexagonTiles/Map/
